<div class="row" style="margin-top: 63px;">
<div class="card-deck">
    <div class="card">
       <div class="card-body">
           <div class="img">
               <img class="img-fluid-md" src="\assets\mec.jpg" width="100%" height="250px" alt="mech">
           </div>
       </div>
        <div class="card-footer">
            <button class="btn btn-success float-right" type="button" (click)="submitBranch('mech')">Mech</button>
        </div>
        
    </div>
    <div class="card">
        <div class="card-body">
            <div class="img">
                <img class="img-fluid-md" src="\assets\civi.jpeg" width="100%" height="250px" alt="civil">
            </div>
        </div>
       
        <div class="card-footer">
            <button class="btn btn-success float-right" type="button" (click)="submitBranch('civil')">Civil</button>
        </div>
        
    </div>
    <div class="card">
        <div class="card-body">
            <div class="img">
                <img class="img-fluid-md" src="\assets\electric.jpg" width="100%" height="250px" alt="ece">
            </div>
        </div>
       
        <div class="card-footer">
            <button class="btn btn-success float-right" type="button" (click)="submitBranch('ece')">ECE</button>
        </div>
        
    </div>
    <div class="card">
        <div class="card-body">
            <div class="img">
                <img class="img-fluid-md" src="\assets\computer.png" width="100%" height="250px" alt="cse">
            </div>
        </div>
       
        <div class="card-footer">
            <button class="btn btn-success float-right" type="button" (click)="submitBranch('cse')">CSE</button>
        </div>
        
    </div>
</div>
</div>

