<div class="row" style="margin-top: 63px;">
    <div class="col-md-1"></div>
    <div class="col-md-6">
        <h3>Electronics and Communication Engineering </h3>
        <h4>Overview</h4>
        <p>Department of Electronics and Communication Engineering (ECE) is established in the year 1999 and is accredited by NBA in 2010. The department efforts to be in the forefront of advances in Electronics and Communication Engineering education, to motivate the budding engineers to face the future challenges. The Department takes up the task to educate engineers for Indian & Global opportunities while also preparing them for future leadership roles in industry through a three-fold mission in Teaching, Research and Application which is reflected in the departments operations. The team of expert faculty has created a reputation for the Department as one of the best for Electronics & Communication education. The teaching, learning process focuses on research using hands on learning approach, in tune with the latest technology trends besides the department has been recognized as one of the major growth engines of the college and has created a wide range of successful careers for ECE students.</p>
<h4>Core competencies</h4>
<li>VLSI</li>
<li>Embedded Systems & IOT</li>
<li>Signal and Image Processing</li>
<li>Radio Frequency</li>
<li>Computer Vision</li>
<li>Communication</li>
<h4>Communication
    Prominent Features</h4>
    <li>Emphasis on Outcome Based Education & Project Based Teaching methodology</li>
    <li>Best Faculty Team with wide experience and domain expertise</li>
    <li>Department library with e-Journals and video lectures.</li>
    <li>Strong Academic and Industry Interaction</li>
    <li>State of the art curriculum.</li>
    <li>Annual Technical and Cultural Fests.</li>   
    </div>
    <div class="col-md-5">
        <img src="\assets\ece.jpg" alt="Electronic and communication engineering">
    </div>
</div>
