<div class="row " style="margin-top: 63px;">
    <div class="col-md-3">
 <!-- A vertical navbar -->
 <nav class="navbar bg-light">

    <!-- Links -->
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="readattendence">ReadAttendence</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="readmarks">ReadMarks</a>
      </li>
      
    </ul>

  </nav>
  <div class="card">
    <img class="card-img-top" src="../assets/student.png" height="400px" width="100%" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">{{this.studentObject.fn}} {{this.studentObject.ln}}</h4>
       <!--creation of a modal-->
        <div class="text-center">
          <button  class="btn btn-success"data-target="#m" data-toggle="modal" >view profile</button>
        </div>
        <div class="modal" id="m">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
               <div class="ml-auto">
                <button class="close" data-dismiss="modal" class="btn btn-danger  ">X</button>
               </div>
              </div>
              <div class="modal-body"> 
                <div class="jumbotron">
                  <div class="table table-dark border-less">
                    <tr>
                      <td>FirstName:</td>
                      <td>{{this.studentObject.fn}}</td>
                    </tr>
                    <tr>
                      <td>LastName:</td>
                      <td>{{this.studentObject.ln}}</td>
                    </tr>
                      <tr>
                        <td>Gender:</td>
                        <td>{{this.studentObject.m}}</td>
                      </tr>
                     <tr>
                      <td>PhoneNumber:</td>
                      <td>{{this.studentObject.ph}}</td>
                     </tr>
                      <tr>
                        <td>E-mail:</td>
                        <td>{{this.studentObject.email}}</td>
                      </tr>
                      <tr>
                        <td>Department:</td>
                        <td>{{this.studentObject.course}}</td>
                      </tr>
                      <tr>
                        <td>Address:</td>
                        <td>{{this.studentObject.ad}}</td>
                      </tr>
                      <tr>
                        <td>Year:</td>
                        <td>{{this.studentObject.year}}</td>
                      </tr>
                      <tr>
                        <td>SSC:</td>
                        <td>{{this.studentObject.ssc}}</td>
                      </tr>
                      <tr>
                        <td>Inter:</td>
                        <td>{{this.studentObject.inter}}</td>
                      </tr>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
    </div>

    <div class="col-md-9">
    <h2>welcome {{this.studentObject.fn}}</h2>
      <router-outlet></router-outlet>
  </div>


</div>


