<div class="text-center">
    <button  class="btn btn-success"data-target="#m1" data-toggle="modal" >Upload Marks</button>
</div>
    <div class="modal" id="m1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            Upload Marks Here
            <button class="close" data-dismiss="modal" class="btn btn-secondary">close</button>
          </div>
          <div class="modal-body">
            <div class="jumbotron">
              <form #ref1="ngForm" (ngSubmit)="uploadmarks(ref1.value);ref1.reset()">
                 <div class="form-group">
                <label for="file">UploadMarks</label>
                <input type="file" id="file" name="marks" (change)="fileUpload($event)"  class="form-control" ngModel>
                 </div>
              </form>
          </div>
    
    
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" type="submit" data-dismiss="modal" (click)="uploadmarks(ref1.value)">Upload Marks</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <th>Year</th>
            <th>Branch</th>
            <th>studentId</th>
            <th>Sub1</th>
            <th>Sub2</th>
            <th>Total</th>
          </thead>
          <tr *ngFor="let m of this.data">
            <td>{{m.year}}</td>
            <td>{{ m.branch}}</td>
            <td>{{m.studentid}}</td>
            <td>{{m.sub1}}</td>
            <td>{{m.sub2}}</td>
            <td>{{m.total}}</td>
          </tr>
        </table>
      </div>
    </div>