<div class="row" style="margin-top: 63px;">
    <div class="col-md-1"></div>
<div class="col-md-6">
<h3>Computer science and engineering</h3>
<h4>Vision</h4>
<p>To produce the globally competent professionals in the field of ComputerScience and Engineering</p>
<h4>Mission</h4>
<p>
    <li>To provide state-of-the-art facilities in Computer Science and Engineering, through innovative teaching learning practices.</li>
       <li>To promote research and development in the frontier areas of Computer Science and Engineering and to work in interdisciplinary fields.</li>
       <li> To enrich students with discipline and high integrity to serve the society while inculcating the spirit of ethical values and leadership abilities.</li>
<li>To establish a collaborative environment between Industry and Academia.</li>
</p>

<h4>PEO’s </h4>
<p>PEO1: Graduates will be employable as Software professionals.</p>

<p>PEO2: Graduates will be able to develop analytical and computational ability to solve software problems, by applying innovative technical tools in the ever changing World.</p>

<p>PEO3: Graduates will be able to work in multidisciplinary project teams with effective communication skills and leadership qualities.</p>

<p>PEO4: Graduates will be able to embrace lifelong learning with professional ethics.</p>
<h4>PSO'S</h4>
<P>
    
PSO1: Apply software Engineering practices and strategies in software project development to deliver a quality product.
</P>
<P>
    PSO2: Able to understand and demonstrate emerging software tools and technologies for social needs. 
</P>
<h4>PO’s </h4>
<h5> Engineering Graduates will be able to:</h5>
<p>
<b>1.Engineering knowledge:</b> Apply the knowledge of mathematics, science, engineering fundamentals, and an engineering specialization to the solution of complex engineering problems.
</p>
<p>
    <b>2.Problem analysis: </b>Identify, formulate, review research literature, and analyze complex engineering problems reaching substantiated conclusions using first principles of mathematics, natural sciences, and engineering sciences.
</p>
<p><b>3.Design/development of solutions:</b>Design solutions for complex engineering problems and design system components or processes that meet the specified needs with appropriate consideration for the public health and safety, and the cultural, societal, and environmental considerations.</p>
<p><b>4. Conduct investigations of complex problems:</b>Use research-based knowledge and research methods including design of experiments, analysis and interpretation of data, and synthesis of the information to provide valid conclusions</p>
<p><b>5.Modern tool usage:</b>Create, select, and apply appropriate techniques, resources, and modern engineering and IT tools including prediction and modeling to complex engineering activities with an understanding of the limitations.</p>
<p><b>6.The engineer and society:</b>Apply reasoning informed by the contextual knowledge to assess societal, health, safety, legal and cultural issues and the consequent responsibilities relevant to the professional engineering practice.</p>

</div>


<div class="col-md-5">
    
    
    <img src="https://images.unsplash.com/photo-1569653402334-2e98fbaa80ee?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=889&q=80" alt="computer science and engineering" height="600px" width="607px">
    <br><img src="\assets\cse.jpg" alt="computer science and engineering" height="650px" width='607px' >
</div>
</div>