<div class="row" style="margin-top: 63px;">
  <div class="col-md-3">
    <!-- A vertical navbar -->
    <nav class="navbar bg-light">

      <!-- Links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="generateid">GenerateId</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" routerLink="registerstudent">RegisterStudent</a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" routerLink="branch">Branch</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="attendance">Attendance</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="marks">Marks</a>
        </li>
      </ul>

    </nav>
    <div class="card">
      <img class="card-img-top" src="../assets/admin.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Prashanth Reddy</h4>
        <!--creation of a modal-->
        <div class="text-center">
          <button class="btn btn-success" data-target="#m" data-toggle="modal">view profile</button>
        </div>
        <div class="modal" id="m">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button class="close" data-dismiss="modal" class="btn btn-danger">X</button>
              </div>
              <div class="modal-body">
                <div class="jumbotron">
                  <div class="table border-less">
                    <tr>
                      <td>Emp Id:</td>
                      <td>98587</td>
                    </tr>
                    <tr>
                      <td>Name:</td>
                      <td>Prashanth Reddy</td>
                    </tr>
                    <tr>
                      <td>Age:</td>
                      <td>23</td>
                    </tr>
                    <tr>
                      <td>Designation:</td>
                      <td>System admin</td>
                    </tr>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



  <div class="col-md-9">
    <h1>Welcome {{this.username}}</h1>
    <router-outlet></router-outlet>
  </div>

</div>