
<head>
	<title>Login Page</title>
   <!--Made with love by Mutiullah Samim -->
   
	<!--Bootsrap 4 CDN-->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <!--Fontawesome CDN-->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

	<!--Custom styles-->
 <!-- <link rel="stylesheet" type="text/css" href="styles.css">  -->


</head>

    <div class="container-fluid">
        <div class="d-flex justify-content-center h-100">
            <div class="card"> 

                  <div class="card-header">
                     <h3>Sign In</h3>
                   </div>          
         <div class="card-body"> 
             <form #Ref="ngForm" (ngSubmit)="login(Ref.value)">
                <div>
                    <label class="text-primary">choose role</label>
                </div>

            <div class="form-check">
                <input type="radio" name="role" id="a" class="form-check-input" value="admin" ngModel>
                <label for="a" class="form-check-label text-primary">Admin</label>
            </div>
            <div class="form-check">
            <input type="radio" name="role" id="u" class="form-check-input" value="student" ngModel>
            <label for="u" class="form-check-label text-primary">Student</label>
            </div>
            
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <label for="un"></label><br>
                                <span class="input-group-text"><i class="fas fa-user"></i></span>
                            </div>
                            

                            <input type="text" name="id"  id="un" class="form-control" placeholder="enter id" ngModel>
                            
                        </div>
                        <div class="input-group form-group">
                            <div class="input-group-prepend">
                                <label for="pw"></label><br>
                                <span class="input-group-text"><i class="fas fa-key"></i></span>
                            </div>
                           
                            <input type="password" name="pw" class="form-control" id="pw" placeholder="password" ngModel>
                        </div>
                                             
                        <div class="form-group">
                            <input type="submit" value="Login" class="btn float-center login_btn">
                        </div>
                         
         
                </form>
            </div>
            <div class="card-footer">
                    <h3>Account</h3>
            </div>
        </div>
    </div>


<!-- <div class="row" style="margin-top: 63px;">
    <div class="col-4"></div>
    <div class="col-4">
        <h1 class="display-4">Login Form</h1>
<form #ref="ngForm" (ngSubmit)="login(ref.value);">
    <div ><label class="text-primary">choose role</label></div>
    <div class="form-check">
        <input type="radio"name="role" id="a" class="form-check-input" value="admin" ngModel>
        <label  for="a" class="form-check-label text-primary"><b>Admin</b></label>
    </div>
    <div class="form-check">
        <input type="radio"name="role" id="u" class="form-check-input" value="student" ngModel>
        <label  for="u" class="form-check-label text-primary" ><b>Student</b></label>
    </div>
<div class="form-group">
    <label for="un">Enter ID</label>
    <input type="text" id="un" name="id" class="form-control" ngModel>
</div>

<div class="form-group">
    <label for="pw">Enter Password</label>
    <input type="password" id="pw" name="pw" class="form-control" ngModel>
</div>
<div class="text-center">
    <button type="submit" mdbBtn class="btn btn-success" rounded="true" mdbWavesEffect>Login</button>
</div>

</form>

    </div>
    <div class="col-4"></div>
</div> -->