
<div class="row " style="margin-top: 63px;">

    <div class="col-md-1"></div>
<div class="col-md-6">
<h3>Mechanical engineering</h3>
<h4>Overview</h4>
<p>Mechanical Engineering involves the design, analysis, and manufacture of a wide variety of mechanical components and systems and has been on an integration phase with other disciplines for the past few decades offering many challenging career opportunities for the students. The Department of Mechanical Engineering at VJIT was established in 1999 and is accredited by NBA in 2010 and Re-accredited in the year 2018 for 3 years. The mechanical engineering curriculum is diverse because it is central to many modern industries and also because individual mechanical engineers may be employed in a wide range of engineering endeavors from initial research and development of a product to manufacturing and marketing. Between these diverse activities, mechanical engineers integrate engineering sciences, conceptual product design and manufacturing capabilities into a cost-effective, quality products. Going by the technological advances the Department has been actively engaged in transforming the teaching, learning methodology and creating a sound knowledge base in the minds of students. Innovative Teaching tools, Hands on Workshops, Community projects and Industry Internships are given priority in the department to groom the students industry ready.</p>
<h4>Core competencies </h4>
<li>
    Material Science
</li>
<li>Welding Technology</li>
<li>Thermal Engineering</li>
<li>Design Engineering</li>
<li>REVERSE ENGINEERING</li>
<h4>Prominent Features</h4>
<li>Accredited by NBA & NAAC</li>
<li>Well qualified and experienced faculty from industry & academia</li>
<li>Excellent infrastructure facilities including CAD/CAM Lab with CNC Machines</li>
<li>Project Based Learning methodology</li>
<li>Department library facility with access to e-journals</li>
<li>MOU with different prominent industries</li>
<li>Regular Industrial visits & Internships</li>
</div>
<div class="col-md-5">
    <img src="\assets\mech.jpg" alt="mechancal engineering" width="620px" height="750px">
</div>