<div class="row">
<div class="col-md-3">
  <div class="text-left">
    <button  class="btn btn-success"data-target="#m1" data-toggle="modal" >Register Student</button>
    </div>
</div>
<div class="col-md-3">
  <div class="text-right">
    <button type="button" class="btn btn-info text-dark" (click)="downloadPDF()">Download PDF</button>
  </div>

</div>
<div class="col-md-3">
  <div class="text-left"> <button type="submit" class="btn btn-primary" (click)="downloadFile()">Download Excel</button>
  </div>
</div>
<div class="col-md-3">
  <div class="text-center">
    <input type="search" placeholder="Search By Student_First Name" class="form-control mt-5"
                                [(ngModel)]="searchTerm">
  </div>
</div>
<div class="col-md-3">
  <div class="text-right">
    <label for="year">Sort By year</label>
        <select id="year" ngModel #re (change)='onYear(re.value)' >
          <option value="all">ALL</option>          
          <option value="2019">2019</option>
                     <option value="2018">2018</option>
                       <option value="2017">2017</option>
                        <option value="2016">2016</option>
        </select>
  </div>
</div>
</div>

 
  

  <div class="modal" id="m1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
            Register Student
            <button class="close" data-dismiss="modal" class="btn btn-secondary">close</button>

        </div>
        <div class="modal-body">
          <div class="container jumbotron">
            <h3 class="text-info">Registration Form</h3>
            <form #co="ngForm" (ngSubmit)="registerStudent(co.value);co.reset()">
                <div class="form-group">
                    <label for="fn">FirstName</label>
                    <input type="text" name="fn" #ref1="ngModel" id="fn" autocomplete="off" class="form-control"  required   ngModel>
                    <div *ngIf=" ref1.touched && ref1.invalid " class="alert alert-danger">Firstname is Required 
                    </div>
                </div>   
                <div class="form-group">
                    <label for="ln">LastName</label>
                    <input type="text" name="ln" id="ln"#ref2="ngModel" autocomplete="off" class="form-control"   ngModel>
                    
                </div>    
            
                
                <div class="form-check">
                    <label for="" class="form-check-label">Gender</label> <br> 
                    
                    <input type="radio" name="m" id="g1" value="male" #ref4="ngModel" class="form-check-input" required  ngModel>
                    <label for="g1" class="form-check-label">Male</label><br>
                    <input type="radio" name="m" id="g2" value="female" #ref4="ngModel" class="form-check-input" required  ngModel>
                    <label for="g2" class="form-check-label">Female</label><br>
                    <div *ngIf=" ref4.touched && ref4.invalid " class="alert alert-danger">Gender is Required 
                    </div>
                 </div> 
                 <div class="form-group">
                    <label for="ph">Phone Number</label>
                    <input type="number" name="ph" id="ph" autocomplete="off" #ref5="ngModel" class="form-control" required pattern="\d\d\d\d\d\d\d\d\d\d" ngModel>  
                    <div *ngIf=" ref5.touched && ref5.invalid " class="alert alert-danger">phoneNumber Must contain 10 Digits 
                    </div>
                </div>
                <div class="form-group" [class.has-error]="email.invalid && email.touched">
                    <label for="email" class="control-label">E-Mail Id</label>
                    <input type="text" name="email" id="email" autocomplete="off" #email="ngModel" class="form-control" required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"  ngModel>  
               <div class="help-block" *ngIf="email.errors?.required && email.touched" class='alert alert-warning'> email is required</div>
               <div class="help-block" *ngIf="email.errors?.pattern && email.touched" class='alert alert-primary'> E-mail is invalid</div>
                </div>
                <div class="form-group">
                    choose Department
      
                    <input type="text" name="course"  autocomplete="off"  class="form-control" [attr.disabled]="true" [(ngModel)]="department">
                      <!-- <select name="course" id="course" #ref7="ngModel" class="form-control" ngModel>
                       <option value="{{this.department}">{{this.department}}</option>
                        <option value="ece">ECE</option>
                       <option value="civil">CIVIL</option>
                       <option value="mech">MECH</option> 
                     </select> -->
                     <!-- <div *ngIf=" ref7.touched && ref7.invalid " class="alert alert-danger">choose department 
                    </div> -->
                  </div>
                  <div class="form-group">
                    <label for="ad">Address</label>
                    <textarea name="ad" id="ad" #ref8="ngModel" autocomplete="off" class="form-control"   ngModel>  </textarea>
                </div>
            
                <div class="form-group">
                    <label for="year">Year</label>
                    <input type="number" name="year" id="year" autocomplete="off" #ref9="ngModel" class="form-control" required pattern="\d\d\d\d" ngModel>  
                    <div *ngIf=" ref9.touched && ref9.invalid " class="alert alert-danger"> Year must have four digits
                    </div>
                </div>
               
                  
                <div class="form-group">
                    <label for="ssc">SSC %</label>
                    <input type="number" name="ssc" id="ssc" #ref10="ngModel" autocomplete="off" class="form-control"   ngModel>  
               
                </div>
                <div class="form-group">
                    <label for="inter">Inter %</label>
                    <input type="number" name="inter" id="inter" #ref11="ngModel"autocomplete="off" class="form-control"   ngModel>  
                </div>
            </form>
       </div>
                  

        </div>
        <div class="modal-footer">
          <div data-dismiss="modal">
          <button class="btn btn-success" type="submit" data-dismiss="modal" [disabled]="co.invalid" (click)="registerStudent(co.value);co.reset()">Register</button>
        </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="text-right">
    <label for="year">Choose year</label>
        <select id="year" ngModel #re (change)='onYear(re.value)' >
          <option value="all">ALL</option>          
          <option value="2019">2019</option>
                     <option value="2018">2018</option>
                       <option value="2017">2017</option>
                        <option value="2016">2016</option>
        </select>
  </div> -->


  <div class="table-responsive">
  <div class="table">
    <thead>
      <th>FirstName</th>
      <th>LastName</th>
      <th>Gender</th>
      <th>PhoneNumber</th>
      <th>E-mail</th>
      <th>Department</th>
      <th>Address</th>
      <th>Year</th>
      <th>SSC</th>
      <th>Inter</th>
      <th>UPDATE</th>
      <th>DELETE</th>
    </thead>
    <!-- <tr *ngFor="let m of fromService"> -->
      <tr *ngFor="let m of fromService | search : searchTerm">
      <td>{{m.fn}}</td>
      <td>{{m.ln}}</td>
      <td>{{m.m}}</td>
      <td>{{m.ph}}</td>
      <td>{{m.email}}</td>
      <td>{{m.course}}</td>
      <td>{{m.ad}}</td>
      <td>{{m.year}}</td>
      <td>{{m.ssc}}</td>
      <td>{{m.inter}}</td>
      <td>
        <div class="text-center">
          <button  class="btn btn-success"data-target="#m2" (click)="update(m)" data-toggle="modal">UPDATE</button>
          </div>
          <div class="modal" id="m2">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  Update Student Details
                    <button class="close" data-dismiss="modal" class="btn btn-secondary">X</button>
                  </div>
                  <div class="modal-body">
                    <div class="container jumbotron">
                      <h3 class="text-info">Update Student Details</h3>
                      <form #ref="ngForm" (ngSubmit)="updateStudent(ref.value);">
                        <div class="form-group">
                            <label for="fn">FirstName</label>
                            <input type="text" name="fn" #ref1="ngModel" id="fn" autocomplete="off" [(ngModel)]="da.fn" class="form-control"  required   ngModel>
                            <div *ngIf=" ref1.touched && ref1.invalid " class="alert alert-danger">Firstname is Required 
                            </div>
                        </div>   
                        <div class="form-group">
                            <label for="ln">LastName</label>
                            <input type="text" name="ln" id="ln"#ref2="ngModel"[(ngModel)]="da.ln" autocomplete="off" class="form-control"   ngModel>
                            
                        </div>    
                    
                        
                        <div class="form-check">
                            <label for="gender" class="form-check-label">Gender</label> <br> 
                            
                            <input type="radio" name="m" id="gender" value="male" #ref4="ngModel" class="form-check-input" required [(ngModel)]="da.m" ngModel>
                            <label for="gender1" class="form-check-label">Male</label><br>
                            <input type="radio" name="m" id="gender2" value="female" #ref4="ngModel" class="form-check-input" required [(ngModel)]="da.m" ngModel>
                            <label for="gender2" class="form-check-label">Female</label><br>
                            <div *ngIf=" ref4.touched && ref4.invalid " class="alert alert-danger">Gender is Required 
                            </div>
                         </div> 
                         <div class="form-group">
                            <label for="ph">Phone Number</label>
                            <input type="number" name="ph" id="ph" [attr.disabled]="true"  autocomplete="off"[(ngModel)]="da.ph" #ref5="ngModel" class="form-control" required pattern="\d\d\d\d\d\d\d\d\d\d" ngModel>  
                            <div *ngIf=" ref5.touched && ref5.invalid " class="alert alert-danger">phoneNumber Must contain 10 Digits 
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="email">E-Mail Id</label>
                            <input type="text" name="email" id="email" autocomplete="off" [(ngModel)]="da.email" #email="ngModel" class="form-control" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$"  ngModel>  
                            <div class="help-block" *ngIf="email.errors?.required && email.touched" class='alert alert-warning'> email is required</div>
                            <div class="help-block" *ngIf="email.errors?.pattern && email.touched" class='alert alert-primary'> E-mail is invalid</div>
                            
                        </div>
                        <div class="form-group">
                            choose Department
                            <input type="text" name="course"  autocomplete="off"  class="form-control"[attr.disabled]="true" [(ngModel)]="da.course">
                              <!-- <select name="course" id="course" #ref7="ngModel" class="form-control"[(ngModel)]="da.course" ngModel>
                               <option value="cse">CSE</option>
                               <option value="ece">ECE</option>
                               <option value="civil">CIVIL</option>
                               <option value="mech">MECH</option>
                             </select> -->
                             
                          </div>
                          <div class="form-group">
                            <label for="ad">Address</label>
                            <textarea name="ad" id="ad" #ref8="ngModel" autocomplete="off" class="form-control"[(ngModel)]="da.ad"   ngModel>  </textarea>
                        </div>
                    
                        <div class="form-group">
                            <label for="year">Year</label>
                            <input type="number" name="year" id="year" autocomplete="off" #ref9="ngModel" [(ngModel)]="da.year"class="form-control" required pattern="\d\d\d\d" ngModel>  
                            <div *ngIf=" ref9.touched && ref9.invalid " class="alert alert-danger"> Year must have four digits
                            </div>
                        </div>
                       
                          
                        <div class="form-group">
                            <label for="ssc">SSC %</label>
                            <input type="number" name="ssc" id="ssc"[(ngModel)]="da.ssc" #ref10="ngModel" autocomplete="off" class="form-control"   ngModel>  
                       
                        </div>
                        <div class="form-group">
                            <label for="inter">Inter %</label>
                            <input type="number" name="inter" id="inter" #ref11="ngModel"  [(ngModel)]="da.inter"autocomplete="off" class="form-control"   ngModel>  
                        </div>
                    </form>
                 </div>


                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-success" type="submit" data-dismiss="modal"[disabled]="ref.invalid" (click)="updateStudent(ref.value)">UPDATE</button>
                  </div>
              </div>
            </div>
          </div>
      </td>
      <td>
        <button class="btn btn-warning" type="submit"(click)="deleteStudent(m)">Delete</button>
      </td> 
    </tr>
  </div>
</div>