.dropdown:hover>.dropdown-menu{
    display: block;
}
.row{
    width:80%;
    margin:auto;
   
}
.navbar{
    padding: 0px!important;
     -webkit-box-shadow: 4px 9px 25px -6px rgba(77,77,77,0.61);
-moz-box-shadow: 4px 9px 25px -6px rgba(77,77,77,0.61);
box-shadow: 4px 9px 25px -6px rgba(77,77,77,0.61);
}
ul.dropdown-menu{
    width: 11vw;
    border-radius: 0px;
    font-weight: 400;
    font-size: 0.9em;
    line-height: 16px;
    text-decoration: none;
  padding: 0px;
  list-style-type: none;
  -webkit-animation: mymove 0.5s;
  animation: mymove 0.5s;
    background-color: #fff;
    -webkit-box-shadow: 4px 9px 25px -6px rgba(77,77,77,0.61);
-moz-box-shadow: 4px 9px 25px -6px rgba(77,77,77,0.61);
box-shadow: 4px 9px 25px -6px rgba(77,77,77,0.61);
}
li.dropdown:hover ul.dropdown-menu{
    display: block;
}

.dropdown-menu li:hover a{
  color:skyblue
}

.dropdown-menu li{
  border-bottom: 1px solid #ccc;
  padding: 20px;
  display:block;
}
.dropdown-menu li a{
 color: #444;
 text-decoration: none;
 text-transform: capitalize;
}
 @keyframes mymove { 
    from {
      left:  100px;
         height: 0px;
         opacity: 0;
         border-bottom:0px;
    }
    to {
        height: auto;

    }
}

.navbar-nav a.nav-link{
    font-family: 'Coronetscript', monospace;
  text-transform: uppercase;
    padding: 0px !important;
}
ul.navbar-nav li.nav-item{
  margin: 0 20px;
}
ul.navbar-nav .nav-item:after {
    content: '';
    display: block;
    height: 3px;
    width: 0;
    transition: width .5s ease, background-color .5s ease;
}
.navbar-nav .nav-item:hover:after {
    width: 100%;
    background:darkseagreen
}


.ftco-footer
{
    font-size: 16px;
    background-color: #353b48;
    padding: 2em 0;
    z-index: 0;
    color: gray;
}

.ftco-footer .ftco-footer-logo
{
    text-transform: uppercase;
    letter-spacing: .1em;
}

.ftco-footer .ftco-footer-widget h5
{
    font-weight: normal;
    margin-bottom: 20px;
    font-size: 22px;
    font-weight: 600;
    color: ghostwhite;
}

.ftco-footer .ftco-footer-logo ul li
{
    margin-bottom: 10px;
}

.ftco-footer .ftco-footer-logo ul li a
{
    color: rgba(255, 255, 255, 0.6);
}
.ftco-footer .ftco-footer-logo ul li a span
{
    color: rgba(255, 255, 255, 0.6);
}

.ftco-footer .ftco-footer-widget .btn-primary
{
    background: ghostwhite !important;
    border: 2px solid ghostwhite !important;
}

.ftco-footer .ftco-footer-widget .btn-primary:hover
{
    background: ghostwhite !important;
    border: 2px solid ghostwhite !important;
}

.ftco-footer p
{
    color: rgba(255, 255, 255, 0.7);
}

.ftco-footer p a
{
    color: rgba(255, 255, 255, 0.7);
}

.ftco-footer p a:hover
{
    color: ghostwhite;
}

.ftco-footer .ftco-heading-2
{
    font-size: 17px;
    font-weight: 400;
    color: #000000;
    color: gray
}

.ftco-footer-social li
{
    list-style: none;
    margin: 0 10px 0 0;
    display: inline-block;
}

.ftco-footer-social li a
{
    height: 50px;
    width: 50px;
    display: block;
    float: left;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    position: relative;
    
}

.ftco-footer-social li a span
{
    position: absolute;
    font-size: 26px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    
}

.ftco-footer-social li a:hover
{
    color: ghostwhite;
}

.footer-small-nav > li
{
    display: inline-block;
}
.footer-small-nav > li a
{
    margin: 0 10px 10px 0;
}

.footer-small-nav > li a :hover, .footer-small-nav > li a :focus
{
    color: #31de79;
}

.media .ftco-icon
{
    width: 100px;
}

.media .ftco-icon span
{
    color: #31de79;
}
