<div class="row" style="margin-top: 63px;">
    <div class="col-md-1"></div>
    <div class="col-md-6">
<h3>Civil Engineering</h3>
<h4>Overview</h4>
<p> The Civil Department has firmly stood as one of the colossal pillars of the college, it greatly cares for its students to make them efficient and competent enough in the field of Civil Engineering and their related concerns as professionals. The Department of Civil Engineering at VJIT is established in 2013 and in the very few years of existence has established itself as an inspiring learning center. The Department has continuously upgraded itself in terms of academic performance, research and infrastructure as required by the curriculum and the requirements based on industrial need as a result of which our students have been able to develop potential strengths to meet the professional and personal challenges prevailing and who can serve in all the possible positions of their respective job domains and contribute towards a holistic growth. The Department is transforming to a great extent with the diversity that comes with interfacing with other technology domains. The highly qualified faculty team inspires students to do research and train them to address the societal problems while trying to produce responsible, competent engineers who can take a lead in nation-building.</p>
<h4>
    Core competencies
</h4>
<li>Structural Engineering</li>
<li>Earthquake Engineering</li>
<li>Geotechnical Earthquake Engineering</li>
<li>Transportation Engineering</li>
<li>Water Resources Engineering</li>
<h4>
    Prominent Features
</h4>
<li>Emphasis on Outcome-Based Education</li>
<li>Best Faculty Team with wide experience from academia & industry.</li>
<li>All Labs are well equipped with equipment’s and software’s like STAAD Pro, SAP and AutoCAD</li>
<li>Department is conducting special work on “Building Design and Analysis” for Final year students to prepare them industry-ready.</li>
<h4>Vision</h4>
<p> To create a responsible civil engineer with technical competence, managerial ability moral values for the nation building</p>
<h4>Mision</h4>
<li>To achieve excellence in education by creating a learning environment with latest technologies, resources</li>
<li>Develop research environment in faculty and students</li>
<li>To develop an analytical mind ready for challenges, acquire knowledge follow moral ethics through use of new materials, methods and technology</li>
</div>
<div class="col-md-5">
    <img src="\assets\civil.jpg" alt="civil engineering" width="1200px"height="920px">
</div>
</div>