<div class="row " style="margin-top: 63px;">
    <div class="col-md-6">
        <div class="table table-dark border-less">
            <thead>
                <th>Attendance</th>
                <th>Date</th>
            </thead>
            <tr *ngFor="let k of data">
                <td>{{k.attendance}}</td>
                <td>{{k.date}}</td>
            </tr>
    </div>
</div>
    <div class="col-md-6"></div>
</div>

