<div class="text-center">
    <button  class="btn btn-success"data-target="#m1" data-toggle="modal" >GenerateId</button>
</div>
    <div class="modal" id="m1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            GenerateId Here
            <button class="close" data-dismiss="modal" class="btn btn-secondary">close</button>
          </div>
          <div class="modal-body">
            <div class="jumbotron">
              <form #ref1="ngForm" (ngSubmit)="generateId(ref1.value)">
                 
                  <div class="form-group">
                      <label for="yr">Year</label>
                      <input type="number" name="year" id="yr" autocomplete="off" class="form-control"   ngModel>
                      
                  </div> 
                  <div class="form-group">
                    Choose Branch Name
                      <!-- <label for="bn">Choose Branch Name</label> -->
                      <!-- <input type="text" name="branchname" id="bn" autocomplete="off" class="form-control"  ngModel> -->
                 <select name="branchname" id="bn" class="form-control" ngModel>
                  <option value="">choose branch Name</option>
                   <option value="cse">CSE</option>
                   <option value="ece">ECE</option>
                   <option value="civil">CIVIL</option>
                   <option value="mech">MECH</option>
                 </select>
                    </div>
                 <div class="form-group">
                   choose Branch Code
                     <!-- <label for="bc">Branch Code</label>
                     <input type="text" name="branchcode" id="bc" autocomplete="off"class="form-control" ngModel> -->
                     <select name="branchcode" id="bc" class="form-control" ngModel>
                       <option value="">choose branch code</option>
                      <option value="04">CSE</option>
                      <option value="03">ECE</option>
                      <option value="02">CIVIL</option>
                      <option value="01">MECH</option>
                    </select>
                 </div>
              </form>
          </div>
    
    
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" type="submit" data-dismiss="modal" (click)="generateId(ref1.value)">GenerateId</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table">
          <thead>
            <th>Year</th>
            <th>BranchName</th>
            <th>BranchCode</th>
            <th>count</th>
          </thead>
          <tr *ngFor="let m of data">
            <td>{{m.year}}</td>
            <td>{{ m.branchname}}</td>
            <td>{{m.branchcode}}</td>
            <td>{{m.count}}</td>
          </tr>
        </table>
      </div>
    </div>