body
 {
margin: 0;
padding: 0;
background: #f0f8f7;

}
ul
{
    display: flex;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
ul li
{
list-style: none;
}
ul li a{
    width:80px;
    height: 80px;
    background:rgba(128, 125, 125, 0.178);
    text-align: center;
    line-height: 80px;
    font-size: 35px;
    margin: 0 10px;
    display: block;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
    border: 3px solid rgba(61, 21, 21, 0);
    z-index: 1;
}
ul li a .fa{
    position: relative;
    columns: #262626;
    transition: .5s;

}
ul li a:hover .fa
{
    color: rgba(61, 60, 60, 0.034);
transform: rotateY(360deg);

}
ul li a:before{
    content: '';
    position: absolute;
    top:100%;
    left:0;
    width:100%;
    height: 100%;
    background: #110f0fe5;
    transition: .5s;
    z-index: 2;
}
ul li a:hover::before{
    top:0;
}
ul li:nth-child(1) a:before{
    background: #3F51B5;
}
ul li:nth-child(2) a:before{
    background: #2196F3;
}
ul li:nth-child(3) a:before{
    background: #F44336;
}
ul li:nth-child(4) a:before{
    background: #3F51B5;
}
ul li:nth-child(5) a:before{
    background:linear-gradient(90deg, #df5885 0%, #e6b244 100%);;
}