<div class="text-center">
    <button  class="btn btn-success"data-target="#m1" data-toggle="modal" >Upload Attendance</button>
</div>
    <div class="modal" id="m1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            Upload Attendance Here
            <button class="close" data-dismiss="modal" class="btn btn-secondary">close</button>
          </div>
          <div class="modal-body">
            <div class="jumbotron">
              <form #ref1="ngForm" (ngSubmit)="uploadattendance(ref1.value);ref1.reset()">
                 
                  <div class="form-group">
                    choose Year
                    <select name="year" id="year" class="form-control" ngModel>
                         <option value="2019">2019</option>
                         <option value="2018">2018</option>
                         <option value="2017">2017</option>
                         <option value="2016">2016</option>
                       </select>
                      
                  </div> 
                  <div class="form-group">
                    Choose Branch Name
                 <select name="branchname" id="bn" class="form-control" ngModel>
                   <option value="cse">CSE</option>
                   <option value="ece">ECE</option>
                   <option value="civil">CIVIL</option>
                   <option value="mech">MECH</option>
                 </select>
                    </div>
                 <div class="form-group">
                <label for="file">UploadAttendence</label>
                <input type="file" id="file" name="attendence" (change)="fileUpload($event)"  class="form-control" ngModel>
                 </div>
              </form>
          </div>
    
    
          </div>
          <div class="modal-footer">
            <button class="btn btn-success" type="submit" data-dismiss="modal" (click)="uploadattendance(ref1.value)">Upload Attendance</button>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <table class="table-responsive">
          <thead>
            <th>Year</th>
            <th>Branch</th>
            <th>studentId</th>
            <th>date</th>
            <th>Attendance</th>
          </thead>
          <tr *ngFor="let m of this.data">
            <td>{{m.year}}</td>
            <td>{{ m.course}}</td>
            <td>{{m.studentid}}</td>
            <td>{{m.date}}</td>
            <td>{{m.attendance}}</td>
          </tr>
        </table>
      </div>
    </div>
    
    
         

