
<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
  
    <!-- The slideshow -->
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="image-fluid" src="https://cdn.pixabay.com/photo/2017/09/26/04/28/classroom-2787754_960_720.jpg" alt="college" width='100%' height='500px'>
        <!-- <div class="carousel-caption">
            <h3 style="color:rgb(117, 144, 231); margin-top:100px ;" >College</h3>
            <p style="color: rgb(18, 128, 179);">"An investment in knowledge always pays the best interest." ...</p>
          </div> -->
      </div>
      <div class="carousel-item">
        <img class="image-fluid" src="https://images.wallpaperscraft.com/image/books_library_shelves_138556_3840x2400.jpg" alt="college" width='100%' height='500px'>
        <!-- <div class="carousel-caption">
        <h3 style="color: darkblue; margin-top:100px ;">College</h3>
    <p style="color: crimson;">"The things taught in schools and colleges are not an education, but the means to an education." ...</p>
  </div> -->
      </div>
      <div class="carousel-item" >
      
        <img  class="image-fluid"src="https://images.unsplash.com/photo-1493078640264-28e9ec0ae9ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="college" width='100%' height='500px'>
        <!-- <div class="carousel-caption">
            <h3 style="color: darkblue; margin-top:100px ;" >College</h3>
    <p style="color: crimson;">The aim of the college, for the individual student, is to eliminate the need in his life for the college; the task is to help him become a self-educating man</p>
  </div> -->
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  
  </div>
  <div class="row">
 
    <div class="container-fluid" style="margin-top: auto;"> 
      <!--<h6 class="display-4 text-center">PLACEMENTS</h6> -->
     
      <div class="box">
       <p class="text-white text-center">1380+</p>  <br>
       <p class="text-white text-center">Recruiters</p> 

       
      </div>
      <div class="box1" style="background-color:rgba(117, 4, 79, 0.616);"> 
        <p class="text-black text-center " >90% </p><br>
        <p  class="text-white text-center">Students Placed</p>
      </div>
      <div class="box2">
      <p class="text-white text-center">70%</p> <br>
       <p class="text-white text-center"> New Recruiters</p>
      </div>
      <div class="box3" style=" background-image: url(https://s3-ap-southeast-1.amazonaws.com/images.humanresourcesonline.net/wp-content/uploads/2016/11/Jerene-Nov-2016-pay-increase-123RF-700x420.jpg);width: 150px;height:350px;">
       <p class="text-white text-center">25%</p>  <br>
       <p class="text-white text-center">Increase in Salary</p> 
      </div>
      <div class="box4">
        <p class="text-white text-center">98.6</p> <br>
         <p class="text-white text-center">LPA </p><br>
          <p class="text-white text-center">Highest Salary</p>
      </div>
      <div class="box5">
       <p class="text-center text-white"> 5</p> <br>
       <p class="text-center text-white"> LPA</p> <br>
       <p class="text-center text-white">Average Salary</p> 
      </div>
    </div>
 
 
    <!-- <div class="col-4 jumbotron">
        <h2 class="text-primary">What's New</h2>-->
<!-- A vertical navbar -->

    <!-- Links --> 
       <!-- <marquee behavior="scroll" direction="left"  scrollamount="10"onmouseover="this.stop();" onmouseout="this.start();"><a class="nav-link" href="">exams<img src="http://www.etutoriale.ro/banners/88x31.gif" width="88" height="31" alt="Tutorials " border="0"></a></marquee>
        <marquee behavior="scroll" direction="left"  scrollamount="10" onmouseover="this.stop();" onmouseout="this.start();"><a class="nav-link" href="">Results</a></marquee>
        <marquee behavior="scroll" direction="left"  scrollamount="10"onmouseover="this.stop();" onmouseout="this.start();"><a class="nav-link" href="">Events</a></marquee>
  



      </div>
      <div class="col-8 container jumbotron" >
          <h2>
              OUR FACILITIES:-
          </h2>
          <ul>
            <li>World Class Laboratories</li>
            <li> Transportation</li>
            <li> Hostel</li>
            <li> Library</li>
          </ul>
          
      </div> -->
  </div>
  <div class="row" style="margin-top: auto;">
    <div class="col-md-5">
      <h2>Achievements</h2>

      <div id="demo1" class="carousel slide" data-ride="carousel">
       <!-- Indicators -->
       <ul class="carousel-indicators">
        <li data-target="#demo1" data-slide-to="0" class="active"></li>
        <li data-target="#demo1" data-slide-to="1"></li>
        <li data-target="#demo1" data-slide-to="2"></li>
      </ul>
    
      <!-- The slideshow -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="\assets\aw1.jpg" alt="awards" width='100%' height='250px'>
          
        </div>
        <div class="carousel-item">
          <img src="\assets\aw2.jpg" alt="awards" width='100%' height='250px'>
         
        </div>
        <div class="carousel-item" >
        
          <img src="\assets\aw4.jpg" alt="awards" width='100%' height='250px'>
         
        </div>
      </div>
    
      <!-- Left and right controls -->
      <a class="carousel-control-prev" href="#demo1" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </a>
      <a class="carousel-control-next" href="#demo1" data-slide="next">
        <span class="carousel-control-next-icon"></span>
      </a>
    
    </div>

    </div> 

    <div class="col-md-7">
      <div class="text-left" >
        <h2>Our Placements In</h2>
      </div>
    
      
<img src="..\assets\place2.jpg" alt="placements" height="250px" width="100%">
       
      
    </div>
  </div>