<div class="row " style="margin-top: 63px;">
    <div class="col-md-8">
        <div class="table table-dark border-less">
            <thead>
                <th>StudentId</th>
                <th>Branch</th>
                <th>Year</th>
                <th>Sub1</th>
                <th>Sub2</th>
                <th>Total</th>
            </thead>
            <tr *ngFor="let k of data">
                <td>{{k.studentid}}</td>
                <td>{{k.branch}}</td>
                <td>{{k.year}}</td>
                <td>{{k.sub1}}</td>
                <td>{{k.sub2}}</td>
                <td>{{k.total}}</td>
            </tr>
    </div>
</div>
    <div class="col-md-4"></div>
</div>

